/* @font-face */ 

/* ----------------------- */
/* Inicio Fuentes & Iconos */
/* ----------------------- */


@font-face {
    font-family: "belligerent-webfont";
    src: url("../fonts/belligerent-webfont/belligerent-webfont.eot");
    src: url("../fonts/belligerent-webfont/belligerent-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/belligerent-webfont/belligerent-webfont.woff") format("woff"),
         url("../fonts/belligerent-webfont/belligerent-webfont.ttf") format("truetype"),
         url("../fonts/belligerent-webfont/belligerent-webfont.svg#belligerent-webfont") format("svg");
         font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto/Roboto-Light.eot");
    src: url("../fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Roboto/Roboto-Light.woff") format("woff"),
         url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"),
         url("../fonts/Roboto/Roboto-Light.svg#Roboto") format("svg");
         font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: "Ubuntu-Regular";
	src: url(../fonts/allFonts/Ubuntu-Regular.ttf);
}

@font-face{
	font-family: "Ubuntu-Medium";
	src: url(../fonts/allFonts/Ubuntu-Medium.ttf);
}

@font-face{
	font-family: "Ubuntu-Light";
	src: url(../fonts/allFonts/Ubuntu-Light.ttf);
}

@font-face{
	font-family: "Ubuntu-Bold";
	src: url(../fonts/allFonts/Ubuntu-Bold.ttf);
}
