
html {
  background-color: azure;
  font-family:'Roboto-Light';
}
body{
  background: lightgreen;
  border: 8px solid #000000;
  border: groove 8px gold; 
  height: auto;
  margin: 30px;
  width: 940px;
  padding: 0;
  margin: 0;
  /* font-family:'DancingScript-Bold'; */
  font-size:5vw;
 
}
#pantalla{
  background-color:lightblue ;
  background: lightgreen;
  /* font-family:'DancingScript-Bold'; */
  font-size:5vw;
}


h1{
  text-align: center;
  
}

#iniciar-juego{
  background-color:mediumturquoise;
  background-color: black;
  border: solid 2px black;
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  margin-top: 30px;
  padding: 13px;
  font-family:'Roboto-Light';
}
#iniciar-juego:hover{ 
  background-color:mediumspringgreen;
  font-size: 22px;
  font-family:'Roboto-Light';
  border: groove 4px rgb(0, 255, 119);
}

/* ---------------------------- */
.titulo {
  padding: 0;
  width: 30vw;
  margin: auto;
  font-size: 7vw;
  font-family:'belligerent-webfont';

}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  font-family:'Roboto-Light';
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 30%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}


#letras{
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

button#letras{
  /*background-color: red !important;*/
  margin: 5px !important;
  padding: 5px !important;
  border: solid 1px red;
}

/* ---------------------------- */
/*    Estilos de la tabla       */
/* ---------------------------- */

section h2{
  font-size: 3em;
  display: block;
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc;
  margin-bottom: .5em;
}
table{
  width: 100%;
  margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
  padding: .7em;
  margin: 0;
  border: 1px solid #ccc;
  text-align: center;
}

th{
  font-weight: bold;
  background-color: #EEE;
}
 input{
  margin: 20px 0px;
}




